# Server Configuration
PORT=4000
FRONTEND_URL=http://localhost:3000

# Local data store configuration
DATA_FILE=./storage/store.json
SEED_GAMES_FILE=./data/games.json

# Encryption Keys
AUTH_SECRET=your_auth_secret_key
STRATUSD_PASSWORD=hunter2

# Optional Google OAuth support
GOOGLE_CLIENT_ID=0123456789abcdef.apps.googleusercontent.com

# Enable whitelisting features
# WHITELISTED_DOMAIN=example.com
# WHITELISTED_USERS='["user1", "user2"]'
